.navbar{
    display: flex;
    align-items: center;
    background-color: rgb(17, 17, 17);
}

.brand{
    width: 10%;
}

.brand-img{
    width: 100%;
}

.categories{
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style: none;

}